/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-post-content {
	background-color: #21759b;
	color: #fff;
	padding: 2px;

	h3 {
		margin: 10px auto;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	h3:after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		margin: 10px auto;
	}
}