/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-create-block-dynamic-latest-posts-block { 
	max-width: 1400px;
}
.wp-block-post-content {
	padding: 2px;
	color: black;

	h3 {
		margin: 10px auto;

		a {
			color: #a42121 !important;
			text-decoration: none;
		}
	}

	h3:after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		margin: 10px auto;
	}
}